
.margin-bottom-small{
    margin-bottom: 20px;
  
  }.margin-bottom-medium{
     margin-bottom: 40px;
   }
  .margin-bottom-big{
    margin-bottom: 60px;
  }
  
  .margin-right-small{
    margin-right: 10px;
  }
  .margin-left-small{
    margin-left: 7px;
  }
  .margin-left-big{
    margin-left: 30px;
  }
  .margin-top-small{
    margin-top: 20px;
  
  }.margin-top-medium{
     margin-top: 40px;
   }
  .margin-top-big{
    margin-top: 60px;
  }
  
  .margin-top-huge{
    margin-top: 100px;
  }
  
  .padding-top-huge{
    padding-top: 100px;
  }
  
  .full-height{
    height: 100vh;
  }

  .flexCenter{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .white-background{
    background-color: rgba(255,255,255,.95); 
  }