.overviewWindow{
    height: 100vh;
    & .groups{
        height: 15vh;
        background-image: linear-gradient(to left,$color-tertiary-light,$color-tertiary-dark);

    }
    & .groups > *:hover{
        background-color: rgba(0,0,0,.3);
        
    }
    
    & .content{
        height: 85vh;
        background-color: rgba(245, 245, 245,.9);
        overflow-x: auto;
    }
   
}