.userInfoBox{
    padding: 10px 0;
    background-image: linear-gradient(to right,$color-tertiary-light,$color-tertiary-dark);
    color:white;
    font-size: 14px;
    font-weight: bold;
    height: 15vh;
    border-right: 1px solid $color-grey-light-2;
    &__image{
        font-size: 35px;
    }

    &__userName{
        margin:0;
    }

    &__email{
        margin:0;
    }
    &__notifs{
        position: relative;
        font-size: 35px;
        transition: color .3s;
        &:hover{
           color: $color-tertiary-light;
           cursor: pointer;
        }
        &__num{
            padding: 1px 8px;
            border-radius: 50%;
            font-size: 15px;
            background-color: $color-red;
            position: absolute;
            right: 30px;
            bottom: -2px;
            color:white;
        }
    }


}